.container_access_view{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26184a;
}
.form_to_access{
    width: min(90%,650px);
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #00000049;
    background: linear-gradient(135deg,#26184a 85%,#f89c56 90%,#26184a 95% );
}
.form_to_access > div{
    width: max(60%,250px);
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    place-items: center;
}

.form_to_access > div > button {
    width: fit-content;
    height: fit-content;
    background-color: #f89c56;
    color: #000000;
    padding: 5px 7px;
    font-size: 18px;
    border: none;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
}
.form_to_create{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
}
.form_to_create > button{
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-radius: 5px;
    background-color: #7289da;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    padding: 7px 10px;
}
.form_to_create > section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container_field_create{
    width: 250px;
    height: 60%;
    display: grid;
    place-items: center;
    color: white;
}
.container_field_create > input {
    outline: none;
    text-indent: 5px;
    height: 25px;
    border-radius: 8px;
    border: none;
    width: 80%;
}
.panel_options{
    width: min(90%,650px);
    height: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #00000049;
    background: linear-gradient(135deg,#26184a 85%,#f89c56 90%,#26184a 95% );
}
.panel_options > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.panel_options > div >button {
    width: fit-content;
    height: fit-content;
    margin: auto;
    border-radius: 5px;
    background-color: #f89c56;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    padding: 7px 10px;
}
.get_winner_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.get_winner_container > button{
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    background-color: #7289da;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    padding: 7px 10px;
}
.get_winner_container  div{
    width: 30%;
    height: 30%;
    display: grid;
    place-items: center;
}
.spinner{
    width: 30px;
    height: 30px;
    background-color: red;
}