.main {
  height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 62% 30%;
  background-color: #26184a;
}
.title_web_lottery{
  width: fit-content;
  height: fit-content;
  margin: auto;
  color: #f89c56 ;
}
.reward_container{
  width: min(85%,650px);
  outline: 2px  solid black;
  height: 90%;
  margin: auto;
  display: grid;
  place-items: center;
  color: white;
}
.get_in_lottery{
  width: min(500px,80%);
  height: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  margin-inline: auto;
  margin-bottom: auto;
}
.get_in_lottery > p {
  width: fit-content;
  height: fit-content;
  color: white;
  margin: auto;
  text-align: center;
}
.get_in_lottery > form{
  width: 90%;
  height: 90%;
  display: grid;
  margin: auto;
}
.get_id_discord{
  width: 90%;
  height: 75%;
  outline: none;
  margin: auto;
  text-align: center;
  font-size: 20px;
}
.btn_verify_id_dscord{
  width: 90%;
  height: 90%;
  margin: auto;
  border-radius: 5px;
  background-color: #7289da;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.5s;
}
.btn_verify_id_dscord:hover{
  box-shadow: 0px 3px 3px 1px #7289da66;
  transition: all 0.5s;

}

  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
